.mainContainer {
    background-color: blue;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px
}

#search-input {
    width: 60%;
    padding : 15px;
    border-radius: 10px
}