.pagination-wrapper {
   
    margin: 4rem auto;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.button {
    background-color: orange;
    opacity: 0.6;
    color: white;
    padding: 8px 20px;
    border-radius: 10px;
}

.button:hover {
    cursor: pointer;
    opacity: 1;

}